## Pandas - Rows in DataFrame not in another DataFrame

In [22]:
import pandas as pd

In [27]:
arr_A = [[1,"A"],[2,"B"],[3,"C"]]
arr_B = [[1,"A"],[2,"B"]]

In [33]:
df_a=pd.DataFrame(arr_A,columns=["key","value"])
df_b=pd.DataFrame(arr_B,columns=["key","value"])

In [35]:
print("Dataframe A")
print(df_a)
print("Dataframe B")
print(df_b)

Dataframe A
   key value
0    1     A
1    2     B
2    3     C
Dataframe B
   key value
0    1     A
1    2     B

In [52]:
df_m=df_a.merge(df_b, on="key",how="left")[pd.isnull(df_a.merge(df_b, on="key",how="left")["value_y"])]
print(df_m)

   key value_x value_y
2    3       C     NaN

In [58]:
df_final=df_a.merge(df_m, on ="key",how="inner")[["key","value"]]
print(df_final)

   key value
0    3     C